name: Profile Summary Cards

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          THEME: tokyonight
        with:
          USERNAME: chunxubioinfor
          BRANCH_NAME: output
          UTC_OFFSET: 1
          AUTO_PUSH: true
          # EXCLUDE: "Jupyter Notebook"
